div.css-1r6slb0.e1tzin5v2 {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    
    border-left: 0.25rem solid #4e73df !important;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    
}

stMetricLabel.css-mkogse.e16fv1kl2 {
    font-weight: 700 !important;
    text-transform: uppercase !important;
}
